
Input_data/Planetary_boundaries/1648976687084-AR6_Scenarios_Database_World_v1.0.zip
Input_data/Planetary_boundaries/iamc15_scenario_data_world_r2.0.xlsx
Outputs/Risk_estimates/
Outputs/Pareto_analysis+plots/All_merged_scenarios_23-02-07.csv
Outputs/Meta-regression/Predictions/
Outputs/Meta-regression/LMM_diagnostics/Random_effects/
Outputs/Meta-regression/LMM_diagnostics/Fixed_effects/